<img src="assets/home/image-header.png" alt="quarto com mesa e computador para estudar">

<img src="assets/home/aspas-img.png" alt="aspas">
<p>Seja bem-vindo(a) ao ClassCollab</p>

<a href="#">Crie sua conta!</a>
<a href="#">Faça login!</a>

<img src="assets/home/chapeu-formatura.png" alt="chapéu de formatura">
<p>Rede Social Acadêmica:</p>

<img src="assets/home/calendario.png" alt="chapéu de formatura">
<p>Organizador de Tarefas:</p>

<img src="assets/home/conexoes.png" alt="chapéu de formatura">
<p>Conexões Inteligentes:</p>

<img src="assets/home/personalizar.png" alt="chapéu de formatura">
<p>Personalização Total:</p>