<header>
  <img class="image-header" src="assets/home/image-header.png" alt="quarto com mesa e computador para estudar">

  <div class="box-header">
    <img src="assets/home/aspas-img.png" alt="aspas">
    <div class="text-header">
      <p>
        Seja bem-vindo(a) ao <span>ClassCollab</span>, a plataforma que vai transformar a sua experiência acadêmica! 
        Conecte-se com colegas de classe, colabore em projetos educacionais e eleve sua produtividade a novos patamares.
      </p>
    </div>

    <div class="button-header">
      <div class="button-create">
        <a href="#">Crie sua conta! <span><img src="assets/home/seta.png" alt=""></span></a>
      </div>
      <div class="login-header">
        <p>Já possui uma conta? <a href="#">Faça login!</a></p>
      </div>
    </div>
  </div>  
</header>

<img src="assets/home/chapeu-formatura.png" alt="chapéu de formatura">
<p>Rede Social Acadêmica:</p>

<img src="assets/home/calendario.png" alt="chapéu de formatura">
<p>Organizador de Tarefas:</p>

<img src="assets/home/conexoes.png" alt="chapéu de formatura">
<p>Conexões Inteligentes:</p>

<img src="assets/home/personalizar.png" alt="chapéu de formatura">
<p>Personalização Total:</p>