nav {
  width: 100%;
  border-bottom: 3px solid var(--light-red);
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.46);
  -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.46);
}

nav .logo {
  width: 150px;
  margin-left: 10%;
}