nav {
  width: 100%;
  border-bottom: 3px solid var(--light-red);
  box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.35);
  -webkit-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.35);
}

nav .logo {
  width: 130px;
  margin-left: 10%;
}